a:hover {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
  background: rgb(94, 162, 207);
  background: linear-gradient(
    0deg,
    rgba(94, 162, 207, 1) 0%,
    rgba(150, 207, 234, 1) 100%
  );
}
header * {
  color: white;
}
header > a {
  font-weight: 600;
  font-size: 0.95rem;
  white-space: nowrap;
  height: fit-content;
}
header > a:hover {
  color: #eee;
}

header h1 {
  font-weight: lighter;
  font-size: 3.5rem;
  padding-left: 0 !important;
}
header h1 > b {
  font-weight: bold;
}

section {
  height: 100vh;
  padding: 4rem 4rem;
}

header {
  height: 100vh;
  padding: 2rem 4rem;
}

* {
  /* outline: solid 1px; */
}

.light-grey {
  color: #c3dfef;
}

.h-btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #609abf;
  border: none;
  border-radius: 3rem;
  margin-top: 2rem;
}
.h-btn > i {
  margin-right: 0.3rem;
}
button {
  cursor: pointer;
}

.grey {
  color: #555;
}

#phones-img {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 25rem;
  height: auto;
}
@media (max-width: 991px) {
  .h-btn:not(:first-of-type) {
    margin-top: 0.25rem;
  }
}
@media (max-width: 1024px) {
  #phones-img {
    display: none;
  }
}

.elevated {
  box-shadow: 0px 0px 74px -14px rgba(0, 0, 0, 0.25);
}

#features .fas {
  font-size: 2em;
  margin-bottom: 1em;
}
#features > article {
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
