@import url("https://fonts.googleapis.com/css?family=Lobster+Two");

a:hover {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100%;
}

header {
  background: rgb(94, 162, 207);
  background: linear-gradient(
    0deg,
    rgba(94, 162, 207, 1) 0%,
    rgba(150, 207, 234, 1) 100%
  );
}
header * {
  color: white;
}
header > a {
  font-weight: 600;
  font-size: 0.95rem;
  white-space: nowrap;
  height: fit-content;
}
header > a:hover {
  color: #eee;
}

header h1 {
  font-weight: lighter;
  font-size: 3.5rem;
  padding-left: 0 !important;
}
header h1 > b {
  font-weight: bold;
}

section {
  min-height: 100vh;
  padding: 4rem 4rem;
}

header {
  min-height: 100vh;
  padding: 2rem 4rem;
  position: relative;
}

.light-grey {
  color: #c3dfef;
}

.h-btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #609abf;
  border: none;
  border-radius: 3rem;
  margin-top: 2rem;
}
.h-btn > i {
  margin-right: 0.3rem;
}
button {
  cursor: pointer;
}

.grey {
  color: #555;
}

#phones-img {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 25rem;
  height: auto;
}
@media (max-width: 991px) {
  .h-btn:not(:first-of-type) {
    margin-top: 0.25rem;
  }
}
@media (max-width: 1024px) {
  #phones-img {
    display: none;
  }
}

#features .fas {
  font-size: 2em;
  margin-bottom: 1em;
}
#features > article {
  cursor: pointer;
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  transition: box-shadow 0.25s ease-in-out;
  padding: 2.15rem;
}
#features > article:hover {
  box-shadow: 0px 0px 74px -14px rgba(0, 0, 0, 0.25);
}

.video-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #5da1ce71;
  color: white;
  cursor: pointer;
  min-height: 25rem !important;
}
.video-panel > img {
  position: absolute;
  object-fit: cover;
  filter: blur(4px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  left: -4px;
  top: -4px;
  z-index: -1;
}

.play-button {
  border-radius: 50%;
  border: solid 2px white;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.play-button > i {
  font-size: 1.25rem;
  color: white;
}

#video-explanation {
  padding: 0;
}
#video-explanation > article:last-child {
  background-color: #5da1ce;
  color: white;
  padding: 4rem;
}
#video-explanation h1 {
  font-weight: 400;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-c {
  flex-direction: column;
}
.f-r {
  flex-direction: row;
}

.m-b-4 {
  margin-bottom: 4rem;
}

.l-h-2 {
  line-height: 2rem;
}

.logo {
  font-family: Lobster Two;
}

footer {
  background-color: #364049;
  color: white;
  padding: 4rem 2rem;
  min-height: 20rem !important;
  margin-top: auto;
}
footer .phones .fab {
  font-size: 2.5rem;
}
footer .fab:first-child {
  margin-right: 2rem;
}
footer .media a {
  padding: 0.5rem;
  background-color: #414e57;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
footer .media .fab {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 767px) {
  footer > article:nth-child(2),
  footer > article:first-child {
    margin-bottom: 1rem !important;
  }
}
